.App {
  text-align: center;
  min-height: 95vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  text-align: center;
  margin-top: 20px;
}

ul {
  list-style: none;
}
ul li {
  text-decoration: none;
}
